.all_cards{
    
    height: 829px;
    width: 90%;
    margin-top: 5%;
    background: #F7F7F7;
    border-radius: 25px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}