.all_cards {

    height: 829px;
    width: 100%;
    margin-top: 5%;
    background: #F6F6F6;
    border-radius: 25px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

/* Tablette */
@media screen and (max-width: 768px) {}

/* Mobile */
@media screen and (max-width: 480px) {

    .all_cards {
        background: none;
        width: 335px;
    }
}