/* Banner*/

.banner {

    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/img-banner-home.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 20px;
    width: 100%;
    box-shadow: 1px 10px 24px -2px rgba(0,0,0,0.75);
}

.banner_about {

    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/about_cover.png');
    background-position: center;
    background-size: cover;
    height: 210px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 10px 24px -2px rgba(0,0,0,0.75);
}

p {
    color: white;
    font-size: clamp(20px, 4vw, 48px);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Tablette */
@media screen and (max-width: 768px) {}

/* Mobile */
@media screen and (max-width: 480px) {
    .banner {
        width: 335px;
        border-radius: 10px;
        height: 111px;
    }

    .banner p {}
}
