/* Banner*/

.banner
{
    
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/img-banner-home.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 20px;
    width: 90%;
}
.banner_about
     {
        border-radius: 25px;
        height: 100%;
        width: 90%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/about_cover.png');
        background-position: center;
        background-size: cover;       
    }

    p {
        color: white;
        font-size : clamp(20px, 4vw, 48px);
        font-weight : 500;
    }




/* Tablette */
@media screen and (max-width: 1024px){

} ;

/* Mobile */
@media screen and (max-width: 768px){

} ;