/* Card */

.kasa-card {

width: 340px ;
height: 340px;
border-radius:10px;
background: #FF6060;
margin: 2%;
display: inline-grid;
justify-items: center;

}



img{
    max-width: 100%;
    
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
}
;
h3{
    z-index: 20;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-weight: 500;
    font-size: clamp(12px, 3vw, 18px);
    
}
/* Tablette */
@media screen and (max-width: 1024px){

} ;

/* Mobile */
@media screen and (max-width: 768px){

}