.collapse_title {
    background: #FF6060;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: #FFFFFF;
    padding-left: 2%;
    padding-right: 3%;
    margin-bottom: inherit;

}

.collapse_content {
    background: #F7F7F7;
    border-radius: 5px;
    height: 146px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    color: #FF6060;
    
}


.collapse_title {
    cursor: pointer;
  }
  
  .arrow_logo {
    height: 20px;
    width: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .arrow_logo.open {
    transform: rotate(180deg);
  }
  
  .collapse_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .collapse_content.open {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
    overflow-y: scroll;
    
  } 

  /* Tablette */
@media screen and (max-width: 1024px){

} 

/* Mobile */
@media screen and (max-width: 768px){

  .allCollapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    width: 95%;
  }
  .equipements {
    width: 95%;
  }
} 