.page_error_kasa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.error_infos_title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 288px;
line-height: 142.6%;
/* or 411px */
/*display: flex;
align-items: center;*/
text-align: center;
color: #FF6060;
}



p.infos_content {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
display: flex;
color: #FF6060;
}

.return_home {
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* identical to box height, or 26px */
display: flex;
align-items: flex-end;
text-decoration-line: underline;
color: #FF6060;
} 
