
.titleAndLocation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}
.titleAndLocation h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.titleAndLocation p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;
}

.tags {
    background: #FF6060;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    /* identical to box height, or 20px */

    text-align: center;

    color: #FFFFFF;
}

.nameAndPp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px 
display: flex;
align-items: flex-end;
text-align: right;
*/
    color: #FF6060;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nameAndPp img {
    border-radius: 100px;
}
.name {
    margin: 10px;
}

.stars {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.allElements {
    display: flex;
    align-items: center;
}

.allCollapse {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 45%;
}

.equipements {
    width: 45%;
}

  /* Tablette */
  @media screen and (max-width: 1024px){

  } 
  
  /* Mobile */
  @media screen and (max-width: 768px){
  
    .allElements {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .allNameandStars {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .nameAndPp img {
        border-radius: 100px;
        width: 35%;
    }
    .description {
      width: 95%;
    }
    .equipements {
      width: 95%;
    }

  } 