/* _Nav */
.nav_list {
    width: 309px ;
height: 34px;
position: absolute;
left: 75.08%;
right: 0%;
top: 25%;
bottom: 25%;
color:  #FF6060;
} 

.btn-home{
    position: absolute;
left: 15%;
top: 25%;
bottom: 25%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
display: flex;
align-items: flex-end;
text-align: right;
color: #FF6060;
}

.btn-about {
    position: absolute;
right: 15%;
top: 25%;
bottom: 25%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
display: flex;
align-items: flex-end;
text-align: right;
color: #FF6060;
}
